@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.about{
    height: 100vh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    position: relative;
   
}

.small-menu{
    position: absolute;
top: -45px;
left: 0;
height: 100%;
width: 100%;
transition: .3s ease-in;
background-color: rgba(0, 0, 0, 0.75);
font-family: "Lato", sans-serif;
display: flex;
align-items: center;
justify-content: center;


}

.small-menu-card{
    background: linear-gradient(70deg, #175762, #185A66, #16535D, #17555D, #276550); 
    position: fixed;
    /* z-index: 800; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 30px ;
}

.small-logo{
    position: absolute;
    color: black;
    top: -120px;
    margin: 40px auto;
}

.small-logo img{
    width: 200px;
    height: 400px;
}

.small-title{
    color: black;
    /* margin-top: 30px; */
    /* background-color: #0171C0; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}



.small-title h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    color: #6BE47C;
    font-weight: 900;

}

.small-title p{
    font-size: 1rem;
    color: #fff;
}
.small-menu-card ul{
    width: 100%;
    /* background-color: #fff; */
}

.small-menu-card ul li{
    font-size: 1.1rem;
    color: black;
    list-style-type: none;
    /* background-color: blue; */
    border-bottom: 2px solid #6BE47C;
    padding: 10px 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    color: #6BE47C;
    
}

.small-menu-card ul li:hover{
    font-size: 1.2rem;
}

.small-menu-card ul .active-li{
    background-color: #6BE47C;
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
}



.x{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #6BE47C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #000;
}
.xmark{
font-size: 1.2rem;
}







.about-hero .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    z-index: 100;
    color:#fff;
    background: linear-gradient(70deg, #175762, #185A66, #16535D, #17555D, #276550); 
    /* margin-bottom: 50px; */
}



.our-history{
    width: 100%;
    height: 500px;
    display: flex;
    padding: 0 70px;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    /* background-color: pink; */
}


.about-us{
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 80px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}
.history-text{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    
}

.about-text{
    /* background-color: pink; */
    text-align: center;
    width: 70%;
}

.history-text h2, .about-text h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1B5A5F;
}

.history-text p, .about-text p{
    font-size: 1.1rem;
    line-height: 1.8;
}

.history-image{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    justify-content: space-between;
}

/* .history-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.history-top{
    height: 249px;
    width: 100%;
}

.history-bottom{
    
    display: flex;
  justify-content: space-between;
  height: 249px;
  width: 100%;
}

.history-first{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-second{
    width: 249px;
    height: 100%;
}

.history-third{
    width: 249px;
    height: 100%;
   
}


.about-image{
    width: 40%;
    height: 100%;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vmg{
    display: flex;
    flex-direction: column;
    padding: 40px;
    /* background-color: #276550; */
    margin-top: 50px;
    height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blobs{
    height: 100%;
    position: absolute;
    width: 100%;
    /* filter: blur(50px); */
}

.shape-blob{
    position: absolute;
    height: 60px;
    width: 80px;
    border-radius: 40% 50% 30% 40%;
    animation: transform 18s ease-in-out infinite both alternate,
    movement_one 12s ease-in-out infinite both;
    opacity: .7;
    left: 75%;
    top: 40%;
    background: linear-gradient(70deg, #175762, #185A66, #16535D, #17555D, #276550);  
}

.one{
    /* background: #276550; */
    height: 400px;
    width: 400px;
    left: 50%;
    top: 10%;
    opacity: .4;
    transform: rotate(-180deg);
    animation: transform 18s ease-in-out infinite both alternate, 
    movement_two 20s ease-in-out infinite both;
    background: linear-gradient(120deg, #175762, #185A66, #276550);  
}

.two{
    /* background: #1B5A5F; */
    background: linear-gradient(70deg, #276550, #185A66, #276550, #17555D, #276550);  
    height: 200px;
    width: 190px;
    left: 70%;
    top: 90%;
    transform: rotate(-180deg);
    animation: transform 10s ease-in-out infinite both alternate, 
    movement_two 10s ease-in-out infinite both;
}

.three{
    background: #276550;
    height: 150px;
    width: 150px;
    left: 800px;
    top: 30px;
    transform: rotate(-180deg);
    animation: transform 7s ease-in-out infinite both alternate, 
    movement_two 23s ease-in-out infinite both;
}

.four{
    background: #276550;
    height: 250px;
    width: 300px;
    left: 2%;
    opacity: .5;
    top: 10%;
    transform: rotate(-180deg);
    animation: transform 18s ease-in-out infinite both alternate, 
    movement_two 29s ease-in-out infinite both;
}

.five{
    background: #185A66;
    height: 100px;
    width: 80px;
    left: 480px;
    top: 30px;
    transform: rotate(-180deg);
    animation: transform 12s ease-in-out infinite both alternate, 
    movement_two 18s ease-in-out infinite both;
}

.six{
    background: #276550;
    height: 70px;
    width: 150px;
    right: 10%;
    bottom: 30%;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate, 
    movement_two 5s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
   80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.3);}
}

.vmg-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.vmg-buttons button{
    padding: 20px 50px;
background-color: #6BE47C;
    border: 0;
 
    outline: none;font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.35);
    color: #000;

}




.active-vmg{
    background-color: #16535D;
    transform: scale(1, 1);
    color: #fff;
    
}

.vmg-text{
    /* background-color: orange; */
    font-size: 1.1rem; 
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
}

.vision-text{
    /* background-color: red; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.vision-text p{
    line-height: 2;
}

.services{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 300px;
    margin-bottom: 100px;
    position: relative;
}

.services h2{
    font-size: 2.5rem;
    margin-top: 30px;
    color: #16535D;
}

.service-itself{
   display: flex; 
   flex-wrap: wrap;
   height: 250px;
   width: 100%;
   padding: 20px;
   justify-content: center;
}

.service{
    width: 500px;
    /* background-color: pink; */
    display: flex;
    margin: 25px;
}

.service-icon{
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    /* background-color: orange; */
    border: 3px solid #1B5A5F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.service-text{
    margin-left: 20px;
}

.service-text p{
    font-size: 1.1rem;
    margin-top: 6px;
}

.about-footer{
    background: linear-gradient(70deg, #175762, #185A66, #16535D, #17555D, #276550);  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #fff;
    
}


.about-footer h3{
    margin-bottom: 20px;
    font-size: 2rem;
}

.footer-button{
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.35);
    background-color: #6BE47C;
    color: #000;
    font-weight: 700;
}