.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background: linear-gradient(32deg,#174A48 5%,  #266453 32%, #124F5C, #053343 ); */
}

.first-logo, .second-logo{
  position: absolute;
  height: 2000px;
  width: 1000px;
  /* background-color: red; */
}

.first-logo{
  top: -301px;
  left: -490px;
}

.second-logo{
  bottom: -641px;
  left: 860px;
    /* background-color: red; */
}

.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    /* background-color: red; */
    width: 500px;
    position: relative;

}


.loader-logo{
    transform: translateX(-90%);
    animation: slide-in-logo 1s ease forwards;
    width: 280px;
    height: 550px;
    /* background-color: pink; */
    top: 20px;
    position: absolute;
}

.loader-text{
    transform: translateX(100%);
    animation: slide-in-text 1s ease forwards;
    position: absolute;
}

.loader-text{
    /* background-color: blueviolet; */
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.loader-text h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: #174148;
}

.loader-text p{
  color: #174148;
    font-size: 1.2rem;
}

@keyframes slide-in-logo {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-40%);
    }
  }
  
  @keyframes slide-in-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(30%);
    }
  }