@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.safety{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.safety-hero .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    z-index: 100;
    color:#fff;
    background: linear-gradient(to right, #175762, #16535D, #17555D); 
    /* margin-bottom: 50px; */
}

.safety-container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 0 20px; */
    justify-content: center;
    margin-top: 50px;
    /* height: 50%; */
    margin-bottom: 68px;
    align-items: center;

}

.safety-container h2{
    font-size: 2.5rem;
    margin-top: 30px;
    color: #16535D;
    margin-bottom: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.safety-card{
    /* background-color: pink; */
    margin-left: 10px;
    margin-top: 30px;
    width: 24rem;
    height: 24rem;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.35);
    /* -webkit-box-shadow: 10px 4px 2px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 2px 0px rgba(0,0,0,0.35); */

}

.safety-card img{
    position: absolute;
    height: 100%;
    width: 100%;
top: 0;
left: 0;
opacity: 1;
transition: opacity .2s ease-out;
}

.safety-icon{
    background-color: #16535D;
    transform: translateX(-50%);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #16535D;
    left: 50%;
    top: -10px;
}

.safety-icon-itself{
    color: #fff;
}
.absolute-head{
    color: #6BE47C;
    position: absolute;
    bottom: 20px;
    left: 20px;
  transition: .3s ease-in;
    text-decoration: underline;
    cursor: pointer;
}

.safety-card:hover .absolute-head{
    opacity: 0;
}

.safety-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    /* background-color: blue; */
    z-index: 200;
    position: absolute;
    left: 20px;
    height: 150px;
    bottom: 20px;
    opacity: 0;
    transition: .3s ease-in;
    
}

.safety-card:hover .safety-text{
    opacity: 1;
}

.safety-card h3{
    color: #6BE47C;
  
    margin-bottom: 20px;
    /* transition: inset .3s .3s ease-out; */
    text-transform: uppercase;
}

.safety-card p{
    line-height: 1.5;
    color: #fff;
    /* position: absolute; */
    /* opacity: 0; */
    max-width: 80%;
    transition: opacity .3s ease-out;
/* inset: auto ; */
}

.safety-card:hover h2{
    /* inset: auto auto 220px 30px;
    transition: inset .3s ease-out; */
}

.safety-card:hover p{
  /* opacity: 1;
    transition: opacity .3s ease-in; */
}

.safety-card:hover img{
    /* opacity: .9;
    transition: opacity .3s ease-in; */
}

.safety-footer{
    background: linear-gradient(to right, #175762, #276550, #16535D, #17555D, #276550); 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #fff;
}

.safety-footer h3{
    margin-bottom: 20px;
    font-size: 2rem;
}

.footer-button{
    outline: none;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    /* box-shadow: 3px 3px 10px -2px rgba(225,225,225,0.35); */
}